{{define "navbar"}}

<header>
    <div id="header">

        <a href="/" > <img id="logo" src="../../static/img/y_forum_logo.png" alt="logo"> </a> 
        <a href="/profil" class="user_button" >  <img class="user_button" src="../../static/img/user-btn.png" alt="profil">  </a>

    </div>

    <img src="../../static/img/navbar-btn.png" class="headerToNavbar_button" alt="menu" width="50" height="50" onclick="showDiv()">
    
    <div class="navbar_wrapper">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Catégories</a></li>
            <li><a href="/profil">Login</a></li> 
                <!-- si pas login, redirect automatique-->
        </ul>
    </div>
    
</header>
{{end}}