footer {
  width: 100%;
  padding: 20px 0 ;
  background-color:#39332a;
  color: rgb(200, 200, 200);
  /* position: absolute; */
  z-index: 1;
  margin-top: 10%;
}

#project {
  color:rgb(200, 200, 200);
  column-count: 4;
}

#credits {
  color:rgb(200, 200, 200);
  column-count: 2;
}