footer {
  width: 100%;
  padding: 20px 0 ;
  background-color:#39332a;
  color: rgb(200, 200, 200);
  /* position: absolute; */
  z-index: 1;
  margin-top: 10%;
}

#colorfooter {
  font-family: "Montserrat";
}

.campus {
  margin-left: 41%;
}

.year_of_creation {
  margin-left: 46%;
}

.credits {
  margin-left: 10px;
}

.members_name {
  margin-left: 10px;
}