#header {
    background-color: #DDC5A3;
}

#logo {
    width: 350px;
    height: 100px;
    text-align: center;

}

.navbar_button {
    height: 100px;
    width: 100px;

}

.user_button {
    height: 100px;
    width: 100px;

}