#header {
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    
    /* position:fixed; */ 
    /* fixed = header bien mais bouton en dessous */
    
    background-color: #DDC5A3;
    box-shadow: 0px 10px 10px 5px rgba(50, 50, 50, 0.685); 
}

#logo {
    width: 350px;
    height: 100px;
    margin-left: 20px;
}

.headerToNavbar_button {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;

    z-index: 10; /* highest */
}

.user_button {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-top: 10px;
}

#navbar_wrapper {
    display: block;
    visibility: hidden;
    position: fixed;

    box-shadow: 10px 10px 10px 5px rgba(50, 50, 50, 0.685); 
    background-color: #DDC5A3;

    left: 0px;
    top: 0px;
    height: 100%;
    width: 20%;
    z-index: 5;
}

ul {
    display: sticky;

    list-style-type: none;

    margin-top: 100px;
    margin-left: 35px;
    width: 200px;

    z-index: 4; /* 4th highest */
}

li a {
    display: block; 
    float: left;
    font-weight: bold;
    
    color: #f2f2f2;
    
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 3px 10px;
}
  
li a:hover {
    color: #595D3C;
    transition-duration: 0.4s;
}

li a:active {
    color: #181a10;
}

/* li:item_home {
    visibility: hidden;
    display: block; 
    position: absolute;
    font-weight: bold;
    font-size: 20px;

    width: 120px;
    height: 30px;
    padding: 3px 10px;
    padding-top: 70px;
}

li:item_categories {
    visibility: hidden;
    display: block; 
    position: absolute;
    font-weight: bold;
    font-size: 20px;

    width: 120px;
    height: 30px;
    padding: 3px 10px;
    padding-top: 70px;
}

li:item_profil {
    visibility: hidden;
    display: block; 
    position: absolute;
    font-weight: bold;
    font-size: 20px;

    width: 120px;
    height: 30px;
    padding: 3px 10px;
    padding-top: 70px;
} */
