{{define "createcomment"}}

<div class="creationcomment-bg" style="display: none">
    <div class="creation-comment-element">
        <div class="profil-create-comment">
            <img src="../static/img/user-logo-coloring2.png">
            <h1 id="profil-name-create-comment">Username</h1>
        </div>
        <div id="formulaire">
            <form action="/creationcomment" method="POST" class="creationForm2">
                <div>
                    <!-- <label for="postId"><b>id</b></label>
                    <input type="text" name="postId" placeholder="Enter id of post" required> -->
                    
                    
                    <label for="postcontent"><b>Content</b></label>
                    <input type="text" name="postcontent" placeholder="Enter the content" required>
                </div>
                <button type="submit" id="submit_btn">PublYsh</button>
            </form>
        </div>
    </div>
</div>
{{end}}