{{define "createcomment"}}

<div class="creationcomment-bg" style="display: none">
    <div class="creation-comment-element">
        <div class="profil-create-comment">
            <img src="../static/img/user-logo-coloring2.png">
            <h1 id="profil-name-create-comment">Username</h1>
        </div>
        <div id="formulaire">
            <form action="/creationcomment" method="POST" class="creationForm2">
                <div>         
                    <label for="postcontent"><b>content</b></label>
                    <input type="text" name="postcontent" placeholder="Enter title of post" required>
                </div>
                <button type="submit" id="submit_btn">PublYsh2</button>
            </form>
        </div>
    </div>
</div>

{{end}}