{{define "createpost"}}

<div class="creationpost-bg" style="display: none">
    <div class="creation-post-element">
        <div class="profil-create-post">
            <img src="../static/img/user-logo-coloring2.png">
            <h1 id="profil-name-create-post">Username</h1>
        </div>
        <div id="formulaire">
            <form action="/creationpost" method="POST" class="creationForm">
                <div>         
                    <label for="titlepost"><b>Titre</b></label>
                    <input type="text" name="titlepost" placeholder="Enter title of post" required>
                
                    <label for="category-select" id="categorieslabel"><b>Category</b></label>
                    <select name="category" id="category-select">
                        <!-- <option value="Sport">Sport</option>
                        <option value="Politique">Politique</option>
                        <option value="Actu">Actu</option>
                        <option value="Technology">Technologie</option>
                        <option value="Nourritures">Nourritures</option>
                        <option value="Animals">Animal</option>
                        <option value="Other">Autre</option> -->
                    {{ if .Categories }}
                        {{ range .Categories }}
                            <option value="{{.Name}}">{{.Name}}</option>
                        {{ end }}
                        
                    {{ end }}
                    </select>
                </div>

                <input type="file" name="postfile" accept=".jpg, .png, .mp4, .gif" placeholder="Choose file">
                <textarea name="postcontent" placeholder="Enter content of your post" required></textarea> 
            
                <button type="submit" id="submit_btn">PublYsh</button>
            </form>
        </div>
    </div>
</div>

{{end}}