{{ define "body"}}

<div id="best-posts-div">

    <h1>Y'Forum Home</h1>

    <div id="best-posts">
        <img src="../static/img/left_arrow.png" class="arrows"> 

        <div id="post">
            {{ range .}}
                <ul>
                    <li> Username : {{ .Username}}</li>
                    <li> Title : {{ .Title}}</li>
                    <li> Content : {{ .Content}}</li>
                    <li> Date : {{ .Date}}</li>
                    <li> Like : {{ .Number_like}}</li>
                </ul>
            {{end}}
           

        </div>

        <img src="../static/img/right_arrow.png" class="arrows"> 

    </div>

    <div id="dots">
        <img src="../static/img/full_dot.png" class="dots"> 
        <img src="../static/img/empty_dot.png" class="dots"> 
        <img src="../static/img/empty_dot.png" class="dots"> 
    </div>

</div>

<div id="best-categories-div">

    <div id="best-categories">

        <div class="categorie">1. CHATS</div>
        <div class="categorie">2. NOURRITURE</div>
        <div class="categorie">3. METHODES DE SUICIDE</div>


    </div>

    <div id="dots">
        <img src="../static/img/full_dot.png" class="dots"> 
        <img src="../static/img/full_dot.png" class="dots"> 
        <img src="../static/img/full_dot.png" class="dots"> 
    </div>

</div>


{{end}}