{{ define "body"}}

<div id="best-posts-div">

    <h1>Y'Forum Home</h1>

    <form action="/" method="POST">
        <select name="filtre" id="filtre-choice">
            <option disabled selected value>Filtre</option>
                <option value="likecroissant">Trié les posts avec des likes de façon croissante</option>
                <option value="likedecroissant">Trié les posts avec des likes de façon décroissante</option>
                <option value="datefiltre">Trié les posts avec les dates</option> 
        </select>
        <input id="input-filter" type="submit" value="valider Filtre">
    </form>
    

    <div id="best-posts">
        {{if .Posts}}
            <div class="post-list">
                {{ range .Posts }}
                    <div id="{{ .Id_post }}" class="posts" data-likeState="{{ .LikeInfo.LikeState }}" data-isliked="{{.LikeInfo.IsLiked}}">
                        <div onclick="window.location.href='/posts/content?post={{ .Id_post }}&perpage=5&page=0'">
                            <div class="post-user-element">
                                <img src="../static/img/user-btn.png"></img>
                                <h1>{{ .Username }}</h1>
                                <h4>{{ .Date }}</h4>
                            </div>
                            <h1 id="title">{{ .Title }}</h1>
                            <p>{{ .Content }}</p>
                        </div>
                        <div class="btn-for-like">
                            <button onclick="LikedPost('{{ .Id_post }}', 'true')">
                                <img src="../static/img/arrow-like.png" class="like-btn-img liked-img">
                            </button>
                            <h2>{{ .Number_like }}</h2>
                            <button onclick="LikedPost('{{ .Id_post }}', 'false')">
                                <img src="../static/img/arrow-dislike.png" class="dislike-btn-img liked-img">    
                            </button>
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ end }}  
    </div>
    
</div>


{{end}}