{{ define "body"}}
<div class="page-buttons">
    {{if .Posts}}
       {{ range .Posts }}
            <select name="Elements par pages" id="perpage">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
            </select>
        {{ end }}
    {{ end }}     
</div>
<div class="posts-by-category">

   {{if .Posts}}
       {{ range .Posts }}
           <div id="{{ .Id_post }}" class="posts">
               <div class="post-user-element">
                   <img src="../static/img/user-btn.png"></img>
                   <h1>{{ .Username }}</h1>
                   <h4>{{ .Date }}</h4>
               </div>
               <h1 id="title">{{ .Title }}</h1>
               <p>{{ .Content }}</p>
           </div>
       {{ end }}
   {{ end }}     
   
   {{if .Comments}}
       {{ range .Comments }}
           <div id="{{ .Id_comment }}" class="comments">
               <div class="comment-user-element">
                   <img src="../static/img/user-btn.png"></img>
                   <h1>{{ .Username }}</h1>
                   <!-- <h4></h4> -->
               </div>
               <p>{{ .Content }}</p>
           </div>
       {{ end }}
   {{ end }}  
</div>
<div class="page-buttons">
    <button class="previous-page" type="submit" onclick="previousPage('page')"> Previous Page </button>
    <button class="next-page"  type="submit" onclick="nextPage('page')"> Next Page </button>
</div>

{{ end }}