{{define "body"}}

    <div class="posts-by-category">
        {{if .Categories}}
            {{range .Categories}}
                <div class="category-of-posts">
                    <h1 class="">{{.Name}}</h1>
                </div>        
            {{end}}
        {{end}}

        {{if .Posts}}
            <div class="post-list">
                {{ range .Posts }}
                    <div id="{{ .Id_post }}" class="posts" data-likeState="{{ .LikeInfo.LikeState }}" data-isliked="{{.LikeInfo.IsLiked}}">
                        <div onclick="window.location.href='/posts/content?post={{ .Id_post }}'">
                            <div class="post-user-element">
                                <img src="../static/img/user-btn.png"></img>
                                <h1>{{ .Username }}</h1>
                                <h4>{{ .Date }}</h4>
                            </div>
                            <h1 id="title">{{ .Title }}</h1>
                            <p>{{ .Content }}</p>
                        </div>
                        <div class="btn-for-like">
                            <button onclick="LikedPost('{{ .Id_post }}', true)">
                                <img src="../static/img/arrow-like.png" class="like-btn-img liked-img">
                            </button>
                            <button onclick="LikedPost('{{ .Id_post }}', false)">
                                <img src="../static/img/arrow-dislike.png" class="dislike-btn-img liked-img">    
                            </button>
                        </div>
                        
                    </div>
                {{ end }}
            </div>
            
        {{ end }}       
    </div>


{{end}}